In [3]:
from azureml.opendatasets import NycTlcGreen
from datetime import datetime,timedelta
from dateutil import parser,relativedelta
import pyspark.sql.functions as f

from pyspark.sql.functions import year, month, dayofmonth, dayofweek, hour,to_date
from pyspark.sql.types import StructType, StructField, IntegerType, TimestampType, DoubleType, StringType
from delta.tables import DeltaTable

StatementMeta(, d28bbdc7-b92a-47a4-bac3-d44af145618a, 7, Finished, Available)

In [4]:
%%sql 
SET spark.sql.parquet.vorder.enabled=TRUE

StatementMeta(, d28bbdc7-b92a-47a4-bac3-d44af145618a, 8, Finished, Available)

In [5]:
end_date = parser.parse('2018-06-06')
start_date = parser.parse('2014-05-01')

StatementMeta(, d28bbdc7-b92a-47a4-bac3-d44af145618a, 9, Finished, Available)

In [6]:
schema = StructType([
    StructField('vendorID', IntegerType(), True),
    StructField('lpepPickupDatetime', TimestampType(), True),
    StructField('lpepDropoffDatetime', TimestampType(), True),
    StructField('passengerCount', IntegerType(), True),
    StructField('tripDistance', DoubleType(), True),
    StructField('puLocationId', StringType(), True),
    StructField('doLocationId', StringType(), True),
    StructField('pickupLongitude', DoubleType(), True),
    StructField('pickupLatitude', DoubleType(), True),
    StructField('dropoffLongitude', DoubleType(), True),
    StructField('dropoffLatitude', DoubleType(), True),
    StructField('rateCodeID', IntegerType(), True),
    StructField('storeAndFwdFlag', StringType(), True),
    StructField('paymentType', IntegerType(), True),
    StructField('fareAmount', DoubleType(), True),
    StructField('extra', DoubleType(), True),
    StructField('mtaTax', DoubleType(), True),
    StructField('improvementSurcharge', StringType(), True),
    StructField('tipAmount', DoubleType(), True),
    StructField('tollsAmount', DoubleType(), True),
    StructField('ehailFee', DoubleType(), True),
    StructField('totalAmount', DoubleType(), True),
    StructField('tripType', DoubleType(), True)
   
])

StatementMeta(, d28bbdc7-b92a-47a4-bac3-d44af145618a, 10, Finished, Available)

In [7]:

while start_date < end_date:
    # Define the end date for this chunk (one month later)
    chunk_end_date = min(start_date + relativedelta.relativedelta(months=1), end_date)

    # Load the data for this chunk
    nyc_tlc = NycTlcGreen(start_date=start_date, end_date=chunk_end_date)
    nyc_tlc_df = nyc_tlc.to_pandas_dataframe()
    nyc_tlc_df_spark = spark.createDataFrame(nyc_tlc_df, schema)

    # Transform the DataFrame
    nyc_tlc_df_transformed = nyc_tlc_df_spark.withColumn('year', f.year('lpepPickupDatetime')) \
        .withColumn('month', f.month('lpepPickupDatetime')) \
        .withColumn('date', f.to_date('lpepPickupDatetime')) \
        .withColumn('day_of_month', f.dayofmonth('lpepPickupDatetime')) \
        .withColumn('day_of_week', f.dayofweek('lpepPickupDatetime')) \
        .withColumn('hour', f.hour('lpepPickupDatetime'))

    # Save the transformed data as a Delta table, partitioned by month
    nyc_tlc_df_transformed.write.format('delta').option("overwriteSchema", "true").partitionBy("month").saveAsTable("NYCGreenTaxi", mode="append")

    # Update the start date for the next chunk (one month later)
    start_date = chunk_end_date

StatementMeta(, d28bbdc7-b92a-47a4-bac3-d44af145618a, 11, Finished, Available)

[Info] read from /tmp/tmpluaskkqx/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=5/part-00055-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2625-2.c000.snappy.parquet
[Info] read from /tmp/tmpluaskkqx/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=6/part-00122-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2692-1.c000.snappy.parquet
[Info] read from /tmp/tmp0ui56kpo/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=6/part-00122-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2692-1.c000.snappy.parquet
[Info] read from /tmp/tmp0ui56kpo/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=7/part-00194-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2764-1.c000.snappy.parquet
[Info] read from /tmp/tmp4rlfevhr/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=7/part-00194-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2764-1.c000.snappy.parquet
[Info] read from /tmp/tmp4rlfevhr/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=8/part-00066-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2636-1.c000.snappy.parquet
[Info] read from /tmp/tmpilkgov6w/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=8/part-00066-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2636-1.c000.snappy.parquet
[Info] read from /tmp/tmpilkgov6w/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=9/part-00097-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2667-1.c000.snappy.parquet
[Info] read from /tmp/tmpre4_m9tl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=10/part-00042-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2612-1.c000.snappy.parquet
[Info] read from /tmp/tmpre4_m9tl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=9/part-00097-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2667-1.c000.snappy.parquet
[Info] read from /tmp/tmpba19itnk/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=10/part-00042-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2612-1.c000.snappy.parquet
[Info] read from /tmp/tmpba19itnk/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=11/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-1.c000.snappy.parquet
[Info] read from /tmp/tmpdjaaxlsx/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=11/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-1.c000.snappy.parquet
[Info] read from /tmp/tmpdjaaxlsx/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=12/part-00045-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2615-1.c000.snappy.parquet
[Info] read from /tmp/tmp5oql6703/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=12/part-00045-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2615-1.c000.snappy.parquet
[Info] read from /tmp/tmp08grnomo/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=1/part-00175-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2745-1.c000.snappy.parquet
[Info] read from /tmp/tmp08grnomo/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=2/part-00007-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2577-1.c000.snappy.parquet
[Info] read from /tmp/tmpqx9xr6er/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=2/part-00007-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2577-1.c000.snappy.parquet
[Info] read from /tmp/tmpqx9xr6er/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=3/part-00133-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2703-1.c000.snappy.parquet
[Info] read from /tmp/tmphn45s4rw/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=3/part-00133-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2703-1.c000.snappy.parquet
[Info] read from /tmp/tmphn45s4rw/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=4/part-00073-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2643-1.c000.snappy.parquet
[Info] read from /tmp/tmp_d6v85fs/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=4/part-00073-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2643-1.c000.snappy.parquet
[Info] read from /tmp/tmp_d6v85fs/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=5/part-00177-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2747-1.c000.snappy.parquet
[Info] read from /tmp/tmpg5izx9p0/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=5/part-00177-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2747-1.c000.snappy.parquet
[Info] read from /tmp/tmpg5izx9p0/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=6/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-2.c000.snappy.parquet
[Info] read from /tmp/tmp2ys44p4t/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=6/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-2.c000.snappy.parquet
[Info] read from /tmp/tmp2ys44p4t/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=7/part-00147-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2717-1.c000.snappy.parquet
[Info] read from /tmp/tmpkuktk20v/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=7/part-00147-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2717-1.c000.snappy.parquet
[Info] read from /tmp/tmpkuktk20v/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=8/part-00074-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2644-1.c000.snappy.parquet
[Info] read from /tmp/tmpqzt1a1ld/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=8/part-00074-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2644-1.c000.snappy.parquet
[Info] read from /tmp/tmpqzt1a1ld/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=9/part-00092-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2662-1.c000.snappy.parquet
[Info] read from /tmp/tmprnb5ri79/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=10/part-00105-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2675-1.c000.snappy.parquet
[Info] read from /tmp/tmprnb5ri79/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=9/part-00092-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2662-1.c000.snappy.parquet
[Info] read from /tmp/tmpebu1z0ff/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=10/part-00105-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2675-1.c000.snappy.parquet
[Info] read from /tmp/tmpebu1z0ff/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=11/part-00089-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2659-1.c000.snappy.parquet
[Info] read from /tmp/tmpmap4ua2u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=11/part-00089-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2659-1.c000.snappy.parquet
[Info] read from /tmp/tmpmap4ua2u/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=12/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-1.c000.snappy.parquet
[Info] read from /tmp/tmpmvulvlgx/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=12/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-1.c000.snappy.parquet
[Info] read from /tmp/tmp6g_whe2r/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=1/part-00119-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2689-1.c000.snappy.parquet
[Info] read from /tmp/tmp6g_whe2r/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=2/part-00060-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2630-2.c000.snappy.parquet
[Info] read from /tmp/tmpvify3zcv/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=2/part-00060-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2630-2.c000.snappy.parquet
[Info] read from /tmp/tmpvify3zcv/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=3/part-00196-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2766-1.c000.snappy.parquet
[Info] read from /tmp/tmpirtfm23w/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=3/part-00196-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2766-1.c000.snappy.parquet
[Info] read from /tmp/tmpirtfm23w/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=4/part-00121-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2691-1.c000.snappy.parquet
[Info] read from /tmp/tmpiprx402n/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=4/part-00121-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2691-1.c000.snappy.parquet
[Info] read from /tmp/tmpiprx402n/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=5/part-00044-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2614-1.c000.snappy.parquet
[Info] read from /tmp/tmprefktjhx/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=5/part-00044-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2614-1.c000.snappy.parquet
[Info] read from /tmp/tmprefktjhx/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=6/part-00108-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2678-1.c000.snappy.parquet
[Info] read from /tmp/tmp84zbkel6/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=6/part-00108-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2678-1.c000.snappy.parquet
[Info] read from /tmp/tmp84zbkel6/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=7/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-2.c000.snappy.parquet
[Info] read from /tmp/tmpnuxh2cdl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=7/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-2.c000.snappy.parquet
[Info] read from /tmp/tmpnuxh2cdl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=8/part-00172-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2742-2.c000.snappy.parquet
[Info] read from /tmp/tmpo6x9zhow/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=8/part-00172-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2742-2.c000.snappy.parquet
[Info] read from /tmp/tmpo6x9zhow/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=9/part-00076-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2646-1.c000.snappy.parquet
[Info] read from /tmp/tmp4n3p8r1t/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=10/part-00090-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2660-1.c000.snappy.parquet
[Info] read from /tmp/tmp4n3p8r1t/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=9/part-00076-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2646-1.c000.snappy.parquet
[Info] read from /tmp/tmprcvxt3mn/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=10/part-00090-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2660-1.c000.snappy.parquet
[Info] read from /tmp/tmprcvxt3mn/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=11/part-00021-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2591-1.c000.snappy.parquet
[Info] read from /tmp/tmpjqpqif2t/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=11/part-00021-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2591-1.c000.snappy.parquet
[Info] read from /tmp/tmpjqpqif2t/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=12/part-00116-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2686-1.c000.snappy.parquet
[Info] read from /tmp/tmp0_fq9ws4/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=12/part-00116-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2686-1.c000.snappy.parquet
[Info] read from /tmp/tmpd05t_y76/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=1/part-00191-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2761-1.c000.snappy.parquet
[Info] read from /tmp/tmpd05t_y76/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=2/part-00172-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2742-3.c000.snappy.parquet
[Info] read from /tmp/tmp1x1uobfy/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=2/part-00172-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2742-3.c000.snappy.parquet
[Info] read from /tmp/tmp1x1uobfy/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=3/part-00010-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2580-1.c000.snappy.parquet
[Info] read from /tmp/tmpp_chevmk/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=3/part-00010-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2580-1.c000.snappy.parquet
[Info] read from /tmp/tmpp_chevmk/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=4/part-00129-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2699-1.c000.snappy.parquet
[Info] read from /tmp/tmppvix_cpt/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=4/part-00129-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2699-1.c000.snappy.parquet
[Info] read from /tmp/tmppvix_cpt/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=5/part-00175-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2745-2.c000.snappy.parquet
[Info] read from /tmp/tmph7kjtqrk/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=5/part-00175-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2745-2.c000.snappy.parquet
[Info] read from /tmp/tmph7kjtqrk/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=6/part-00187-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2757-1.c000.snappy.parquet
[Info] read from /tmp/tmp6mf9f454/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=6/part-00187-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2757-1.c000.snappy.parquet
[Info] read from /tmp/tmp6mf9f454/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=7/part-00063-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2633-1.c000.snappy.parquet
[Info] read from /tmp/tmp3hxuscnw/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=7/part-00063-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2633-1.c000.snappy.parquet
[Info] read from /tmp/tmp3hxuscnw/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=8/part-00014-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2584-1.c000.snappy.parquet
[Info] read from /tmp/tmph9pdhv9w/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=8/part-00014-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2584-1.c000.snappy.parquet
[Info] read from /tmp/tmph9pdhv9w/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=9/part-00102-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2672-1.c000.snappy.parquet
[Info] read from /tmp/tmp01hii_kw/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=10/part-00018-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2588-1.c000.snappy.parquet
[Info] read from /tmp/tmp01hii_kw/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=9/part-00102-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2672-1.c000.snappy.parquet
[Info] read from /tmp/tmp_sz2l135/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=10/part-00018-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2588-1.c000.snappy.parquet
[Info] read from /tmp/tmp_sz2l135/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=11/part-00174-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2744-1.c000.snappy.parquet
[Info] read from /tmp/tmpaefrdwv4/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=11/part-00174-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2744-1.c000.snappy.parquet
[Info] read from /tmp/tmpaefrdwv4/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=12/part-00096-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2666-1.c000.snappy.parquet
[Info] read from /tmp/tmpwa9hdka6/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=12/part-00096-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2666-1.c000.snappy.parquet
[Info] read from /tmp/tmpxfe76ki7/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=1/part-00036-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2606-1.c000.snappy.parquet
[Info] read from /tmp/tmpxfe76ki7/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=2/part-00180-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2750-1.c000.snappy.parquet
[Info] read from /tmp/tmpoye6stje/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=2/part-00180-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2750-1.c000.snappy.parquet
[Info] read from /tmp/tmpoye6stje/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=3/part-00039-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2609-1.c000.snappy.parquet
[Info] read from /tmp/tmpw12h3o1n/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=3/part-00039-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2609-1.c000.snappy.parquet
[Info] read from /tmp/tmpw12h3o1n/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=4/part-00195-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2765-1.c000.snappy.parquet
[Info] read from /tmp/tmpn83ikvea/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=4/part-00195-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2765-1.c000.snappy.parquet
[Info] read from /tmp/tmpn83ikvea/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=5/part-00087-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2657-1.c000.snappy.parquet
[Info] read from /tmp/tmpl3otu2sl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=5/part-00087-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2657-1.c000.snappy.parquet

/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.

In [8]:
mssparkutils.fs.ls('Tables')

StatementMeta(, d28bbdc7-b92a-47a4-bac3-d44af145618a, 12, Finished, Available)

[FileInfo(path=abfss://a035ebc3-8528-4e7d-b2ba-82f859ca46be@onelake.dfs.fabric.microsoft.com/4d2adeea-ee60-4833-9d0e-e72df7bec6b9/Tables/date_managed, name=date_managed, size=0),
 FileInfo(path=abfss://a035ebc3-8528-4e7d-b2ba-82f859ca46be@onelake.dfs.fabric.microsoft.com/4d2adeea-ee60-4833-9d0e-e72df7bec6b9/Tables/holidays_managed, name=holidays_managed, size=0),
 FileInfo(path=abfss://a035ebc3-8528-4e7d-b2ba-82f859ca46be@onelake.dfs.fabric.microsoft.com/4d2adeea-ee60-4833-9d0e-e72df7bec6b9/Tables/nycgreentaxi, name=nycgreentaxi, size=0)]

In [9]:
%%sql
DESCRIBE DETAIL nycgreentaxi

StatementMeta(, d28bbdc7-b92a-47a4-bac3-d44af145618a, 13, Finished, Available)

In [15]:
# Path to the _delta_log directory

tablebasepath="abfss://YoutubeDemo@onelake.dfs.fabric.microsoft.com/NYCTaxiLakeHouse.Lakehouse/Tables/nycgreentaxi"
tablename=f'{tablebasepath}/_delta_log'
# Get a list of all JSON files in the _delta_log directory
log_files = [file.path for file in mssparkutils.fs.ls(tablename) if file.name.endswith(".json")]
# Check if there are any log files
if log_files:
    # Read the first log file
    data = mssparkutils.fs.head(log_files[0])
    
    # Print the contents of the file
    print(data)
else:
    print("No log files found.")

StatementMeta(, d28bbdc7-b92a-47a4-bac3-d44af145618a, 19, Finished, Available)

{"commitInfo":{"timestamp":1685536214283,"operation":"CREATE TABLE AS SELECT","operationParameters":{"isManaged":"true","description":null,"partitionBy":"[\"month\"]","properties":"{}"},"isolationLevel":"Serializable","isBlindAppend":true,"operationMetrics":{"numFiles":"2","numOutputRows":"1421543","numOutputBytes":"38331246"},"tags":{"VORDER":"true"},"engineInfo":"Apache-Spark/3.3.1.5.2-92314920 Delta-Lake/2.2.0.4","txnId":"fe79cbba-d2a5-407c-8c3e-533b162ba5f3"}}
{"protocol":{"minReaderVersion":1,"minWriterVersion":2}}
{"metaData":{"id":"dd6d3a95-a931-4814-a690-91d752ef4f45","format":{"provider":"parquet","options":{}},"schemaString":"{\"type\":\"struct\",\"fields\":[{\"name\":\"vendorID\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"lpepPickupDatetime\",\"type\":\"timestamp\",\"nullable\":true,\"metadata\":{}},{\"name\":\"lpepDropoffDatetime\",\"type\":\"timestamp\",\"nullable\":true,\"metadata\":{}},{\"name\":\"passengerCount\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"tripDistance\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"puLocationId\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"doLocationId\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"pickupLongitude\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"pickupLatitude\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"dropoffLongitude\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"dropoffLatitude\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"rateCodeID\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"storeAndFwdFlag\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"paymentType\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"fareAmount\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"extra\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"mtaTax\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"improvementSurcharge\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"tipAmount\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"tollsAmount\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"ehailFee\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"totalAmount\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"tripType\",\"type\":\"double\",\"nullable\":true,\"metadata\":{}},{\"name\":\"year\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"month\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"date\",\"type\":\"date\",\"nullable\":true,\"metadata\":{}},{\"name\":\"day_of_month\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"day_of_week\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"hour\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}}]}","partitionColumns":["month"],"configuration":{},"createdTime":1685536206545}}
{"add":{"path":"month=6/part-00000-94faa444-50b0-4602-af6a-15399ef7e42f.c000.snappy.parquet","partitionValues":{"month":"6"},"size":13029,"modificationTime":1685536209690,"dataChange":true,"stats":"{\"numRecords\":40,\"minValues\":{\"vendorID\":1,\"lpepPickupDatetime\":\"2014-06-01T00:00:00.000Z\",\"lpepDropoffDatetime\":\"2014-06-01T00:01:05.000Z\",\"passengerCount\":1,\"tripDistance\":0.0,\"pickupLongitude\":-73.99090576171875,\"pickupLatitude\":0.0,\"dropoffLongitude\":-73.9970474243164,\"dropoffLatitude\":0.0,\"rateCodeID\":1,\"storeAndFwdFlag\":\"N\",\"paymentType\":1,\"fareAmount\":2.5,\"extra\":0.0,\"mtaTax\":0.0,\"tipAmount\":0.0,\"tollsAmount\":0.0,\"totalAmount\":3.5,\"tripType\":1.0,\"year\":2014,\"date\":\"2014-06-01\",\"day_of_month\":1,\"day_of_week\":1,\"hour\":0},\"maxValues\":{\"vendorID\":2,\"lpepPickupDatetime\":\"2014-06-01T00:00:00.000Z\",\"lpepDropoffDatetime\":\"2014-06-01T23:42:23.000Z\",\"passengerCount\":5,\"tripDistance\":18.16,\"pickupLongitude\":0.0,\"pickupLatitude\":40.687747955322266,\"dropoffLongitude\":0.0,\"dropoffLatitude\":40.90546798706055,\"rateCodeID\":5,\"storeAndFwdFlag\":\"N\",\"paymentType\":2,\"fareAmount\":52.0,\"extra\":0.5,\"mtaTax\":0.5,\"tipAmount\":8.65,\"tollsAmount\":7.5,\"totalAmount\":57.83,\"tripType\":1.0,\"year\":2014,\"date\":\"2014-06-01\",\"day_of_month\":1,\"day_of_week\":1,\"hour\":0},\"nullCount\":{\"vendorID\":0,\"lpepPickupDatetime\":0,\"lpepDropoffDatetime\":0,\"passengerCount\":0,\"tripDistance\":0,\"puLocationId\":40,\"doLocationId\":40,\"pickupLongitude\":0,\"pickupLatitude\":0,\"dropoffLongitude\":0,\"dropoffLatitude\":0,\"rateCodeID\":0,\"storeAndFwdFlag\":0,\"paymentType\":0,\"fareAmount\":0,\"extra\":0,\"mtaTax\":0,\"improvementSurcharge\":40,\"tipAmount\":0,\"tollsAmount\":0,\"ehailFee\":40,\"totalAmount\":0,\"tripType\":0,\"year\":0,\"date\":0,\"day_of_month\":0,\"day_of_week\":0,\"hour\":0}}","tags":{"VORDER":"true"}}}
{"add":{"path":"month=5/part-00001-26c79a82-1df7-48da-8251-15e9b0573b89.c000.snappy.parquet","partitionValues":{"month":"5"},"size":38318217,"modificationTime":1685536214135,"dataChange":true,"stats":"{\"numRecords\":1421503,\"minValues\":{\"vendorID\":1,\"lpepPickupDatetime\":\"2014-05-01T00:00:00.000Z\",\"lpepDropoffDatetime\":\"2014-05-01T00:00:09.000Z\",\"passengerCount\":0,\"tripDistance\":0.0,\"pickupLongitude\":-81.25386810302734,\"pickupLatitude\":0.0,\"dropoffLongitude\":-81.24718475341797,\"dropoffLatitude\":0.0,\"rateCodeID\":1,\"storeAndFwdFlag\":\"N\",\"paymentType\":1,\"fareAmount\":0.0,\"extra\":0.0,\"mtaTax\":0.0,\"tipAmount\":0.0,\"tollsAmount\":0.0,\"totalAmount\":0.0,\"tripType\":1.0,\"year\":2014,\"date\":\"2014-05-01\",\"day_of_month\":1,\"day_of_week\":1,\"hour\":0},\"maxValues\":{\"vendorID\":2,\"lpepPickupDatetime\":\"2014-05-31T23:59:59.000Z\",\"lpepDropoffDatetime\":\"2014-06-01T23:50:59.000Z\",\"passengerCount\":9,\"tripDistance\":305.67,\"pickupLongitude\":0.0,\"pickupLatitude\":42.748878479003906,\"dropoffLongitude\":0.0,\"dropoffLatitude\":44.489013671875,\"rateCodeID\":99,\"storeAndFwdFlag\":\"Y\",\"paymentType\":5,\"fareAmount\":900.0,\"extra\":37.0,\"mtaTax\":0.5,\"tipAmount\":444.0,\"tollsAmount\":100.0,\"totalAmount\":8493.87,\"tripType\":2.0,\"year\":2014,\"date\":\"2014-05-31\",\"day_of_month\":31,\"day_of_week\":7,\"hour\":23},\"nullCount\":{\"vendorID\":0,\"lpepPickupDatetime\":0,\"lpepDropoffDatetime\":0,\"passengerCount\":0,\"tripDistance\":0,\"puLocationId\":1421503,\"doLocationId\":1421503,\"pickupLongitude\":0,\"pickupLatitude\":0,\"dropoffLongitude\":0,\"dropoffLatitude\":0,\"rateCodeID\":0,\"storeAndFwdFlag\":0,\"paymentType\":0,\"fareAmount\":0,\"extra\":0,\"mtaTax\":0,\"improvementSurcharge\":1421503,\"tipAmount\":0,\"tollsAmount\":0,\"ehailFee\":1421503,\"totalAmount\":0,\"tripType\":2,\"year\":0,\"date\":0,\"day_of_month\":0,\"day_of_week\":0,\"hour\":0}}","tags":{"VORDER":"true"}}}