In [1]:
from azureml.opendatasets import NycTlcGreen
from datetime import datetime,timedelta
from dateutil import parser,relativedelta
import pyspark.sql.functions as f

from pyspark.sql.functions import year, month, dayofmonth, dayofweek, hour,to_date
from pyspark.sql.types import StructType, StructField, IntegerType, TimestampType, DoubleType, StringType
from delta.tables import DeltaTable

StatementMeta(, 5b295501-bd16-4a61-a011-aa096709c620, 5, Finished, Available)

In [2]:
%%sql 
SET spark.sql.parquet.vorder.enabled=TRUE

StatementMeta(, 5b295501-bd16-4a61-a011-aa096709c620, 6, Finished, Available)

In [3]:
end_date = parser.parse('2018-06-06')
start_date = parser.parse('2014-05-01')

StatementMeta(, 5b295501-bd16-4a61-a011-aa096709c620, 7, Finished, Available)

In [4]:
schema = StructType([
    StructField('vendorID', IntegerType(), True),
    StructField('lpepPickupDatetime', TimestampType(), True),
    StructField('lpepDropoffDatetime', TimestampType(), True),
    StructField('passengerCount', IntegerType(), True),
    StructField('tripDistance', DoubleType(), True),
    StructField('puLocationId', StringType(), True),
    StructField('doLocationId', StringType(), True),
    StructField('pickupLongitude', DoubleType(), True),
    StructField('pickupLatitude', DoubleType(), True),
    StructField('dropoffLongitude', DoubleType(), True),
    StructField('dropoffLatitude', DoubleType(), True),
    StructField('rateCodeID', IntegerType(), True),
    StructField('storeAndFwdFlag', StringType(), True),
    StructField('paymentType', IntegerType(), True),
    StructField('fareAmount', DoubleType(), True),
    StructField('extra', DoubleType(), True),
    StructField('mtaTax', DoubleType(), True),
    StructField('improvementSurcharge', StringType(), True),
    StructField('tipAmount', DoubleType(), True),
    StructField('tollsAmount', DoubleType(), True),
    StructField('ehailFee', DoubleType(), True),
    StructField('totalAmount', DoubleType(), True),
    StructField('tripType', DoubleType(), True)
   
])

StatementMeta(, 5b295501-bd16-4a61-a011-aa096709c620, 8, Finished, Available)

In [7]:

while start_date < end_date:
    # Define the end date for this chunk (one month later)
    chunk_end_date = min(start_date + relativedelta.relativedelta(months=1), end_date)

    # Load the data for this chunk
    nyc_tlc = NycTlcGreen(start_date=start_date, end_date=chunk_end_date)
    nyc_tlc_df = nyc_tlc.to_pandas_dataframe()
    nyc_tlc_df_spark = spark.createDataFrame(nyc_tlc_df, schema)

    # Transform the DataFrame
    nyc_tlc_df_transformed = nyc_tlc_df_spark.withColumn('year', f.year('lpepPickupDatetime')) \
        .withColumn('month', f.month('lpepPickupDatetime')) \
        .withColumn('date', f.to_date('lpepPickupDatetime')) \
        .withColumn('day_of_month', f.dayofmonth('lpepPickupDatetime')) \
        .withColumn('day_of_week', f.dayofweek('lpepPickupDatetime')) \
        .withColumn('hour', f.hour('lpepPickupDatetime'))

    # Save the transformed data as a Delta table, partitioned by month
    nyc_tlc_df_transformed.write.format('delta').option("overwriteSchema", "true").partitionBy("month").saveAsTable("NYCGreenTaxi", mode="overwrite")

    # Update the start date for the next chunk (one month later)
    start_date = chunk_end_date

StatementMeta(, 5b295501-bd16-4a61-a011-aa096709c620, 11, Finished, Available)

[Info] read from /tmp/tmphwkpvsbl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=5/part-00055-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2625-2.c000.snappy.parquet
[Info] read from /tmp/tmphwkpvsbl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=6/part-00122-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2692-1.c000.snappy.parquet
[Info] read from /tmp/tmpk2ztyb48/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=6/part-00122-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2692-1.c000.snappy.parquet
[Info] read from /tmp/tmpk2ztyb48/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=7/part-00194-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2764-1.c000.snappy.parquet
[Info] read from /tmp/tmp9bfavmj8/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=7/part-00194-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2764-1.c000.snappy.parquet
[Info] read from /tmp/tmp9bfavmj8/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=8/part-00066-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2636-1.c000.snappy.parquet
[Info] read from /tmp/tmpv19kr9x3/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=8/part-00066-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2636-1.c000.snappy.parquet
[Info] read from /tmp/tmpv19kr9x3/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=9/part-00097-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2667-1.c000.snappy.parquet
[Info] read from /tmp/tmpb4vtf11e/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=10/part-00042-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2612-1.c000.snappy.parquet
[Info] read from /tmp/tmpb4vtf11e/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=9/part-00097-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2667-1.c000.snappy.parquet
[Info] read from /tmp/tmpt06ekuq4/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=10/part-00042-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2612-1.c000.snappy.parquet
[Info] read from /tmp/tmpt06ekuq4/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=11/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-1.c000.snappy.parquet
[Info] read from /tmp/tmpi1xk6gzy/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=11/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-1.c000.snappy.parquet
[Info] read from /tmp/tmpi1xk6gzy/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=12/part-00045-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2615-1.c000.snappy.parquet
[Info] read from /tmp/tmpnanqrlqe/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2014/puMonth=12/part-00045-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2615-1.c000.snappy.parquet
[Info] read from /tmp/tmpojb2nxgs/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=1/part-00175-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2745-1.c000.snappy.parquet
[Info] read from /tmp/tmpojb2nxgs/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=2/part-00007-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2577-1.c000.snappy.parquet
[Info] read from /tmp/tmpelmz2rn9/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=2/part-00007-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2577-1.c000.snappy.parquet
[Info] read from /tmp/tmpelmz2rn9/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=3/part-00133-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2703-1.c000.snappy.parquet
[Info] read from /tmp/tmpwq9kb5rl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=3/part-00133-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2703-1.c000.snappy.parquet
[Info] read from /tmp/tmpwq9kb5rl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=4/part-00073-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2643-1.c000.snappy.parquet
[Info] read from /tmp/tmpmz6bn6me/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=4/part-00073-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2643-1.c000.snappy.parquet
[Info] read from /tmp/tmpmz6bn6me/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=5/part-00177-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2747-1.c000.snappy.parquet
[Info] read from /tmp/tmprw3k_qtv/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=5/part-00177-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2747-1.c000.snappy.parquet
[Info] read from /tmp/tmprw3k_qtv/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=6/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-2.c000.snappy.parquet
[Info] read from /tmp/tmp533zemsj/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=6/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-2.c000.snappy.parquet
[Info] read from /tmp/tmp533zemsj/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=7/part-00147-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2717-1.c000.snappy.parquet
[Info] read from /tmp/tmpj259wb21/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=7/part-00147-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2717-1.c000.snappy.parquet
[Info] read from /tmp/tmpj259wb21/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=8/part-00074-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2644-1.c000.snappy.parquet
[Info] read from /tmp/tmpvv8w3fs1/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=8/part-00074-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2644-1.c000.snappy.parquet
[Info] read from /tmp/tmpvv8w3fs1/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=9/part-00092-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2662-1.c000.snappy.parquet
[Info] read from /tmp/tmpm18s3jf9/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=10/part-00105-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2675-1.c000.snappy.parquet
[Info] read from /tmp/tmpm18s3jf9/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=9/part-00092-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2662-1.c000.snappy.parquet
[Info] read from /tmp/tmpe9j8kxk_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=10/part-00105-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2675-1.c000.snappy.parquet
[Info] read from /tmp/tmpe9j8kxk_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=11/part-00089-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2659-1.c000.snappy.parquet
[Info] read from /tmp/tmpm34bzus7/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=11/part-00089-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2659-1.c000.snappy.parquet
[Info] read from /tmp/tmpm34bzus7/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=12/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-1.c000.snappy.parquet
[Info] read from /tmp/tmpk2cjczpi/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=12/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-1.c000.snappy.parquet
[Info] read from /tmp/tmpf3dm19gu/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=1/part-00119-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2689-1.c000.snappy.parquet
[Info] read from /tmp/tmpf3dm19gu/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=2/part-00060-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2630-2.c000.snappy.parquet
[Info] read from /tmp/tmpy9c0nkl_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=2/part-00060-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2630-2.c000.snappy.parquet
[Info] read from /tmp/tmpy9c0nkl_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=3/part-00196-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2766-1.c000.snappy.parquet
[Info] read from /tmp/tmp22cvi1o4/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=3/part-00196-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2766-1.c000.snappy.parquet
[Info] read from /tmp/tmp22cvi1o4/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=4/part-00121-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2691-1.c000.snappy.parquet
[Info] read from /tmp/tmpv1lm7tvc/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=4/part-00121-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2691-1.c000.snappy.parquet
[Info] read from /tmp/tmpv1lm7tvc/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=5/part-00044-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2614-1.c000.snappy.parquet
[Info] read from /tmp/tmppwuvzm9m/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=5/part-00044-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2614-1.c000.snappy.parquet
[Info] read from /tmp/tmppwuvzm9m/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=6/part-00108-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2678-1.c000.snappy.parquet
[Info] read from /tmp/tmpaxijin1e/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=6/part-00108-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2678-1.c000.snappy.parquet
[Info] read from /tmp/tmpaxijin1e/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=7/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-2.c000.snappy.parquet
[Info] read from /tmp/tmp23m0ii85/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=7/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-2.c000.snappy.parquet
[Info] read from /tmp/tmp23m0ii85/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=8/part-00172-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2742-2.c000.snappy.parquet
[Info] read from /tmp/tmpy0zm2fa_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=8/part-00172-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2742-2.c000.snappy.parquet
[Info] read from /tmp/tmpy0zm2fa_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=9/part-00076-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2646-1.c000.snappy.parquet
[Info] read from /tmp/tmpqv79fz_c/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=10/part-00090-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2660-1.c000.snappy.parquet
[Info] read from /tmp/tmpqv79fz_c/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=9/part-00076-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2646-1.c000.snappy.parquet
[Info] read from /tmp/tmpv3jq9on3/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=10/part-00090-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2660-1.c000.snappy.parquet
[Info] read from /tmp/tmpv3jq9on3/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=11/part-00021-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2591-1.c000.snappy.parquet
[Info] read from /tmp/tmpvm70o24m/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=11/part-00021-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2591-1.c000.snappy.parquet
[Info] read from /tmp/tmpvm70o24m/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=12/part-00116-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2686-1.c000.snappy.parquet
[Info] read from /tmp/tmpgsjvkmse/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=12/part-00116-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2686-1.c000.snappy.parquet
[Info] read from /tmp/tmpq39u8p75/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=1/part-00191-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2761-1.c000.snappy.parquet
[Info] read from /tmp/tmpq39u8p75/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=2/part-00172-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2742-3.c000.snappy.parquet
[Info] read from /tmp/tmp0n2uhf9w/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=2/part-00172-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2742-3.c000.snappy.parquet
[Info] read from /tmp/tmp0n2uhf9w/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=3/part-00010-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2580-1.c000.snappy.parquet
[Info] read from /tmp/tmp5o07lgjk/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=3/part-00010-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2580-1.c000.snappy.parquet
[Info] read from /tmp/tmp5o07lgjk/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=4/part-00129-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2699-1.c000.snappy.parquet
[Info] read from /tmp/tmpr5q69y73/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=4/part-00129-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2699-1.c000.snappy.parquet
[Info] read from /tmp/tmpr5q69y73/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=5/part-00175-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2745-2.c000.snappy.parquet
[Info] read from /tmp/tmpuesmnikl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=5/part-00175-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2745-2.c000.snappy.parquet
[Info] read from /tmp/tmpuesmnikl/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=6/part-00187-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2757-1.c000.snappy.parquet
[Info] read from /tmp/tmpjvuu7y6j/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=6/part-00187-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2757-1.c000.snappy.parquet
[Info] read from /tmp/tmpjvuu7y6j/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=7/part-00063-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2633-1.c000.snappy.parquet
[Info] read from /tmp/tmpjcb9u55e/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=7/part-00063-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2633-1.c000.snappy.parquet
[Info] read from /tmp/tmpjcb9u55e/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=8/part-00014-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2584-1.c000.snappy.parquet
[Info] read from /tmp/tmpvdq7mrj6/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=8/part-00014-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2584-1.c000.snappy.parquet
[Info] read from /tmp/tmpvdq7mrj6/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=9/part-00102-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2672-1.c000.snappy.parquet
[Info] read from /tmp/tmpvqvyt4km/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=10/part-00018-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2588-1.c000.snappy.parquet
[Info] read from /tmp/tmpvqvyt4km/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=9/part-00102-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2672-1.c000.snappy.parquet
[Info] read from /tmp/tmpy9irejjy/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=10/part-00018-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2588-1.c000.snappy.parquet
[Info] read from /tmp/tmpy9irejjy/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=11/part-00174-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2744-1.c000.snappy.parquet
[Info] read from /tmp/tmpfm2qtjq9/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=11/part-00174-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2744-1.c000.snappy.parquet
[Info] read from /tmp/tmpfm2qtjq9/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=12/part-00096-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2666-1.c000.snappy.parquet
[Info] read from /tmp/tmphc8pb_2_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2017/puMonth=12/part-00096-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2666-1.c000.snappy.parquet
[Info] read from /tmp/tmp_m3ch17t/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=1/part-00036-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2606-1.c000.snappy.parquet
[Info] read from /tmp/tmp_m3ch17t/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=2/part-00180-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2750-1.c000.snappy.parquet
[Info] read from /tmp/tmp1ojke7yy/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=2/part-00180-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2750-1.c000.snappy.parquet
[Info] read from /tmp/tmp1ojke7yy/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=3/part-00039-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2609-1.c000.snappy.parquet
[Info] read from /tmp/tmpv_2m_d1_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=3/part-00039-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2609-1.c000.snappy.parquet
[Info] read from /tmp/tmpv_2m_d1_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=4/part-00195-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2765-1.c000.snappy.parquet
[Info] read from /tmp/tmp22qt9l6o/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=4/part-00195-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2765-1.c000.snappy.parquet
[Info] read from /tmp/tmp22qt9l6o/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=5/part-00087-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2657-1.c000.snappy.parquet
[Info] read from /tmp/tmp9hxfvpri/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=5/part-00087-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2657-1.c000.snappy.parquet

/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.

In [6]:
mssparkutils.fs.ls('Tables')

StatementMeta(, 67c7514c-3a2b-4c80-bc31-e56c06d7da1a, 10, Finished, Available)

[FileInfo(path=abfss://a035ebc3-8528-4e7d-b2ba-82f859ca46be@onelake.dfs.fabric.microsoft.com/4d2adeea-ee60-4833-9d0e-e72df7bec6b9/Tables/nycgreentaxi, name=nycgreentaxi, size=0)]

In [9]:
%%sql
DESCRIBE DETAIL nycgreentaxi

StatementMeta(, 67c7514c-3a2b-4c80-bc31-e56c06d7da1a, 13, Finished, Available)

In [54]:
# Path to the _delta_log directory

tablebasepath="abfss://YoutubeDemo@onelake.dfs.fabric.microsoft.com/NYCTaxiLakeHouse.Lakehouse/Tables/nycgreentaxi"
tablename=f'{tablename}/_delta_log'
# Get a list of all JSON files in the _delta_log directory
log_files = [file.path for file in mssparkutils.fs.ls(tableName) if file.name.endswith(".json")]
# Check if there are any log files
if log_files:
    # Read the first log file
    data = mssparkutils.fs.head(log_files[0])
    
    # Print the contents of the file
    print(data)
else:
    print("No log files found.")

StatementMeta(, 67c7514c-3a2b-4c80-bc31-e56c06d7da1a, 58, Finished, Available)

{"commitInfo":{"timestamp":1685385093977,"operation":"CREATE TABLE AS SELECT","operationParameters":{"isManaged":"false","description":null,"partitionBy":"[]","properties":"{}"},"isolationLevel":"Serializable","isBlindAppend":true,"operationMetrics":{"numFiles":"8","numOutputRows":"2284","numOutputBytes":"91372"},"tags":{"VORDER":"true"},"engineInfo":"Apache-Spark/3.3.1.5.2-92314920 Delta-Lake/2.2.0.4","txnId":"2f102cf5-9331-4f90-bb93-9253c0d17aae"}}
{"protocol":{"minReaderVersion":1,"minWriterVersion":2}}
{"metaData":{"id":"49b311aa-a1c6-4602-94b3-c7148934eb8f","format":{"provider":"parquet","options":{}},"schemaString":"{\"type\":\"struct\",\"fields\":[{\"name\":\"countryOrRegion\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"holidayName\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"normalizeHolidayName\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"isPaidTimeOff\",\"type\":\"boolean\",\"nullable\":true,\"metadata\":{}},{\"name\":\"countryRegionCode\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"date\",\"type\":\"timestamp\",\"nullable\":true,\"metadata\":{}}]}","partitionColumns":[],"configuration":{},"createdTime":1685385092674}}
{"add":{"path":"part-00000-052db223-25d8-47de-9961-3b62ac46d86b-c000.snappy.parquet","partitionValues":{},"size":12156,"modificationTime":1685385093830,"dataChange":true,"stats":"{\"numRecords\":286,\"minValues\":{\"countryOrRegion\":\"Argentina\",\"holidayName\":\"A Munka nnepe\",\"normalizeHolidayName\":\"A Munka nnepe\",\"countryRegionCode\":\"AR\",\"date\":\"2014-05-01T00:00:00.000Z\"},\"maxValues\":{\"countryOrRegion\":\"Wales\",\"holidayName\":\"\",\"normalizeHolidayName\":\"\",\"countryRegionCode\":\"ZA\",\"date\":\"2014-12-25T00:00:00.000Z\"},\"nullCount\":{\"countryOrRegion\":0,\"holidayName\":0,\"normalizeHolidayName\":0,\"isPaidTimeOff\":271,\"countryRegionCode\":14,\"date\":0}}","tags":{"VORDER":"true"}}}
{"add":{"path":"part-00001-43c298e2-9205-4cfd-9eb5-05d55d8821cc-c000.snappy.parquet","partitionValues":{},"size":10735,"modificationTime":1685385093869,"dataChange":true,"stats":"{\"numRecords\":286,\"minValues\":{\"countryOrRegion\":\"Argentina\",\"holidayName\":\"1. svtek vnon\",\"normalizeHolidayName\":\"1. svtek vnon\",\"countryRegionCode\":\"AR\",\"date\":\"2014-12-25T00:00:00.000Z\"},\"maxValues\":{\"countryOrRegion\":\"Wales\",\"holidayName\":\"\",\"normalizeHolidayName\":\"\",\"countryRegionCode\":\"ZA\",\"date\":\"2015-05-05T00:00:00.000Z\"},\"nullCount\":{\"countryOrRegion\":0,\"holidayName\":0,\"normalizeHolidayName\":0,\"isPaidTimeOff\":271,\"countryRegionCode\":25,\"date\":0}}","tags":{"VORDER":"true"}}}
{"add":{"path":"part-00002-69f40cdd-61c7-46bc-8723-acea897c2d92-c000.snappy.parquet","partitionValues":{},"size":11814,"modificationTime":1685385093788,"dataChange":true,"stats":"{\"numRecords\":286,\"minValues\":{\"countryOrRegion\":\"Argentina\",\"holidayName\":\"1. svtek vnon\",\"normalizeHolidayName\":\"1. svtek vnon\",\"countryRegionCode\":\"AR\",\"date\":\"2015-05-06T00:00:00.000Z\"},\"maxValues\":{\"countryOrRegion\":\"Wales\",\"holidayName\":\"\",\"normalizeHolidayName\":\"\",\"countryRegionCode\":\"ZA\",\"date\":\"2015-12-26T00:00:00.000Z\"},\"nullCount\":{\"countryOrRegion\":0,\"holidayName\":0,\"normalizeHolidayName\":0,\"isPaidTimeOff\":269,\"countryRegionCode\":15,\"date\":0}}","tags":{"VORDER":"true"}}}
{"add":{"path":"part-00003-3091e374-5ad1-4db0-9a05-0bc6020cbb7a-c000.snappy.parquet","partitionValues":{},"size":11073,"modificationTime":1685385093803,"dataChange":true,"stats":"{\"numRecords\":286,\"minValues\":{\"countryOrRegion\":\"Argentina\",\"holidayName\":\"2. psiispiv\",\"normalizeHolidayName\":\"2. psiispiv\",\"countryRegionCode\":\"AR\",\"date\":\"2015-12-26T00:00:00.000Z\"},\"maxValues\":{\"countryOrRegion\":\"Wales\",\"holidayName\":\"\",\"normalizeHolidayName\":\"\",\"countryRegionCode\":\"ZA\",\"date\":\"2016-05-15T00:00:00.000Z\"},\"nullCount\":{\"countryOrRegion\":0,\"holidayName\":0,\"normalizeHolidayName\":0,\"isPaidTimeOff\":272,\"countryRegionCode\":25,\"date\":0}}","tags":{"VORDER":"true"}}}
{"add":{"path":"part-00004-098ebc51-b691-46d0-b686-9a0fbddddbb4-c000.snappy.parquet","partitionValues":{},"size":11779,"modificationTime":1685385093828,"dataChange":true,"stats":"{\"numRecords\":286,\"minValues\":{\"countryOrRegion\":\"Argentina\",\"holidayName\":\"1. svtek vnon\",\"normalizeHolidayName\":\"1. svtek vnon\",\"countryRegionCode\":\"AR\",\"date\":\"2016-05-16T00:00:00.000Z\"},\"maxValues\":{\"countryOrRegion\":\"Wales\",\"holidayName\":\"\",\"normalizeHolidayName\":\"\",\"countryRegionCode\":\"ZA\",\"date\":\"2016-12-27T00:00:00.000Z\"},\"nullCount\":{\"countryOrRegion\":0,\"holidayName\":0,\"normalizeHolidayName\":0,\"isPaidTimeOff\":268,\"countryRegionCode\":19,\"date\":0}}","tags":{"VORDER":"true"}}}
{"add":{"path":"part-00005-f2ef2142-86b5-4aea-9da7-47a411e54311-c000.snappy.parquet","partitionValues":{},"size":10890,"modificationTime":1685385093802,"dataChange":true,"stats":"{\"numRecords\":286,\"minValues\":{\"countryOrRegion\":\"Argentina\",\"holidayName\":\"2. psiispiv\",\"normalizeHolidayName\":\"2. psiispiv\",\"countryRegionCode\":\"AR\",\"date\":\"2016-12-27T00:00:00.000Z\"},\"maxValues\":{\"countryOrRegion\":\"Wales\",\"holidayName\":\"\",\"normalizeHolidayName\":\"\",\"countryRegionCode\":\"ZA\",\"date\":\"2017-06-04T00:00:00.000Z\"},\"nullCount\":{\"countryOrRegion\":0,\"holidayName\":0,\"normalizeHolidayName\":0,\"isPaidTimeOff\":270,\"countryRegionCode\":28,\"date\":0}}","tags":{"VORDER":"true"}}}
{"add":{"path":"part-00006-002389fb-e24d-46a0-8349-bf10bfc21f9e-c000.snappy.parquet","partitionValues":{},"size":11847,"modificationTime":1685385093788,"dataChange":true,"stats":"{\"numRecords\":286,\"minValues\":{\"countryOrRegion\":\"Argentina\",\"holidayName\":\"1. svtek vnon\",\"normalizeHolidayName\":\"1. svtek vnon\",\"countryRegionCode\":\"AR\",\"date\":\"2017-06-04T00:00:00.000Z\"},\"maxValues\":{\"countryOrRegion\":\"Wales\",\"holidayName\":\"\",\"normalizeHolidayName\":\"\",\"countryRegionCode\":\"ZA\",\"date\":\"2018-01-01T00:00:00.000Z\"},\"nullCount\":{\"countryOrRegion\":0,\"holidayName\":0,\"normalizeHolidayName\":0,\"isPaidTimeOff\":270,\"countryRegionCode\":15,\"date\":0}}","tags":{"VORDER":"true"}}}
{"add":{"path":"part-00007-d0bfee1b-4449-46fd-b863-2b7ddfa67e07-c000.snappy.parquet","partitionValues":{},"size":11078,"modificationTime":1685385093779,"dataChange":true,"stats":"{\"numRecords\":282,\"minValues\":{\"countryOrRegion\":\"Argentina\",\"holidayName\":\"2. psiispiv\",\"normalizeHolidayName\":\"2. psiispiv\",\"countryRegionCode\":\"AR\",\"date\":\"2018-01-01T00:00:00.000Z\"},\"maxValues\":{\"countryOrRegion\":\"Wales\",\"holidayName\":\"\",\"normalizeHolidayName\":\"\",\"countryRegionCode\":\"ZA\",\"date\":\"2018-06-06T00:00:00.000Z\"},\"nullCount\":{\"countryOrRegion\":0,\"holidayName\":0,\"normalizeHolidayName\":0,\"isPaidTimeOff\":268,\"countryRegionCode\":21,\"date\":0}}","tags":{"VORDER":"true"}}}